@charset "utf-8";
@import "normalize";
@import "variables";
@import "mixins";

@import "sweetalert";

// Fonts
@import 'https://fonts.googleapis.com/css?family=Montserrat';

// Variables

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: rgb(4,42,70) url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat";
}

// Top bar with logo

nav {
  height: 110px;
  width: 100%;
  background: #00609c;
  @include flex-center;
  #logo {
    margin: 0 auto;
  }
}

// Hero section

header {
  margin-bottom: 100px;
  h1, h4 {
    color: #fff;
    text-align: center;
  }
  h1 {
    font-size: 90px;
    margin-top: 190px;
    margin-bottom: 24px;
  }
  h4 {
    font-size: 18px;
    color: rgba(255, 255, 255, .8);
  }
}

// Main content

main {
  #contact-form {
    // Logic to show check when entire form is valid
    &:valid {
      #info-header {
        #info-check {
          display: block;
        }
        .form-title, .form-subtitle {
          margin-left: 48px;
        }
      }
    }

    // Hide form checkmark by default and allow transitions for titles when check appears
    #info-header {
      #info-check {
        position: absolute;
        top: 24px;
        left: 24px;
        display: none;
      }
      .form-title, .form-subtitle {
        @include transition(margin ease-in-out 150ms);
      }
    }
  }

  .step {
    position: relative;
    background: #fff;
    height: auto;
    #step-1-form, #step-2-form {
      margin-top: 30px;
      // Input field wrapper to allow absolute positioning of checkmark
      .form-input-wrapper {
        position: relative;
        // Input field styling
        .form-input {
          display: block;
          width: 100%;
          height: 50px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.4em;
          color: #555;
          background-color: #fff;
          border: 1px solid #e1e1e1;
          @include transition(border-color ease-in-out 150ms);
          margin-bottom: 16px;
          outline: none;
          &:focus {
            border-color: $teal;
          }

          // Logic for the images to be shown inside the input field
          &+ img {
            @include transition(opacity 150ms ease-in-out);
            position: absolute;
            left: 16px;
            top: 16px;
            opacity: 0;
          }

          // Shows the check mark when required fields are valid
          &:valid:required {
            @include transition(padding 150ms ease-in-out);
            padding-left: 42px;
            border-color: $teal;
            &+ img {
              opacity: 1;
            }
          }
        }
      }
    }
    .form-wrapper {
      padding: 32px 45px;
      .form-title {
        font-weight: 600;
      }
      .form-subtitle {
        color: #707070;
      }
    }
    .come-back-link-wrapper {
      text-align: right;
      a {
        display: inline-block;
        margin-top: 20px;
        color: #ccc;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
      }
    }
    .next-button {
      width: 100%;
      @include left-to-right-background(#38a38c, #2a9290);
      text-align: center;
      display: block;
      height: 50px;
      @include flex-center;
      font-weight: 600;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  #step-1 {
    margin: 190px 0 50px;
    #collapse-step-button {
      position: absolute;
      top: -40px;
      left: 50%;
      margin-left: calc(-75px / 2);
      height: 60px;
      width: 75px;
      background: #fff;
      @include flex-center;
      cursor: pointer;
    } 

    // Pencil icon that shows up before "Edit Section" when collapsed
    #step-1-edit-pencil {
      display: none;
    }

    // Logic to hide pencil icon by default
    #step-1-come-back {
      text-decoration: none;
      cursor: pointer;
      img {
        display: none;
      }
    }
  }
  #step-2 {
    margin: 22px 0 80px;
    #step-2-form {
      display: none;
      
      // Custom "other" text on step-2
      #other-text {
        text-align: center;
        border: 2px solid $teal;
        display: none;
        color: $teal;
        text-transform: uppercase;
        font-weight: 600;
      }

      #reason-other {
        &:checked {
          &~ .form-input-wrapper .form-input {
            background: $teal;
            color: #fff;
          }
        }
      }

      #reason-other-label {
        position: relative;
        img {
          position: absolute;
          top: 16px;
          right: 20px;
        }
      }
      
      // Custom radio button hack (use sibling selectors to trigger label style changes)
      input[type="radio"] {
        display: none;
        &:checked + label {
          background: $teal;
          color: #fff;
        }
      }
      label {
        @include flex-center;
        height: 50px;
        border: 2px solid $teal;
        color: $teal;
        text-transform: uppercase;
        margin-bottom: 16px;
        cursor: pointer;
      }
    }
  }
  #submit-button {
    display: block;
    width: 25%;
    margin: 0 auto;
    @include left-to-right-background(#38a38c, #2a9290);
    @include flex-center;
    height: 50px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    outline: none;
  }
}

// Footer

footer {
  text-align: center;
  color: #fff;
  margin: 80px 0 150px;
}

// Mobile styles to clean up spacing and font sizes

@media screen AND (max-width: 600px) {
  body {
    nav {
      height: 80px;
    }
    main {
      .step {
        .come-back-link-wrapper {
          text-align: center;
        }
      }
      #step-1 {
        margin-top: 50px;
      }
      #step-1, #step-2 {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
    header {
      h1 {
        font-size: 60px;
        margin-top: 60px;
      }
      h4 {
        padding: 0 20px;
        line-height: 32px;
      }
    }
    #submit-button {
      width: 50%;
    }
  }
}
